//output:index.html

doctype
html
	title 5adiyah
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/skeleton.css")
	link(rel="stylesheet", href="css/styles.css")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel="stylesheet" type="text/css")
	script(src="jquery-1.12.0.js")
	script(src="scripts.js")
	body

		.container
			.whitebox
				.container
					.header
					.title
						h2.center.darkpurple Javascript & Jquery
					.subsitle
						p.center.tan PRACTICE EXAMPLES


					hr#portfolio

					.blogcontent
						.row
							a.one-half.column.greyed.twolines
								.effect1
									p Show with Hover - Click Here
									p.hide Hello!
							a.one-half.column.greyed.twolines(href="#")
								.effect2
									p.hidden Show with Hover - Click Here to Toggle
									.showing
										p This is a flower
										img(src="flower.png", height="50px;")
								
						.row
							a.one-half.column.greyed.twolines
								.effect3
									p.efclick3 Fade In Effect
									img.fadein(src="flower.png", height="50px;")
							a.one-half.column.greyed.twolines
								.effect4
									p.efclick4 Fade Out Effect
									img.fadeout(src="flower.png", height="50px;")
					
					.subsitle
						p.center.tan IMPLEMENTING IT: FLASHCARDS


					hr#portfolio
					
					.blogcontent
						.row
							a.one-third.column.greyed.blocktext
								.card
									p.question Javascript
									p.answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu ipsum in ligula tincidunt porta eu ut magna. Donec diam est, feugiat suscipit fringilla vel
							a.one-third.column.greyed.blocktext
								.card
									p.question MODULO
									p.answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu ipsum in ligula tincidunt porta eu ut magna. Donec diam est, feugiat suscipit fringilla vel
							a.one-third.column.greyed.blocktext
								.card
									p.question OPERATORS
									p.answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu ipsum in ligula tincidunt porta eu ut magna. Donec diam est, feugiat suscipit fringilla vel
						.row
							a.one-third.column.greyed.blocktext
								.card
									p.question NaN
							a.one-third.column.greyed.blocktext
								.card
									p.question VARIABLE NAMING CONVENTIONS
							a.one-third.column.greyed.blocktext
								.card
									p.question +=
						.row
							a.one-third.column.greyed.blocktext
								.card
									p.question FUNCTION
							a.one-third.column.greyed.blocktext
								.card
									p.question METHOD
							a.one-third.column.greyed.blocktext
								.card
									p.question ARGUMENT TO A METHOD
						.row
							a.one-third.column.greyed.blocktext
								.card
									p.question STRING
							a.one-third.column.greyed.blocktext
								.card
									p.question CHAINING METHODS
							a.one-third.column.greyed.blocktext
								.card
									p.question ESCAPE
						.row
							a.one-third.column.greyed.blocktext
								.card
									p.question ALERT
							a.one-third.column.greyed.blocktext
								.card
									p.question COMMENTING CODE
							a.one-third.column.greyed.blocktext
								.card
									p.question BOOLEANS
						.row
							a.one-third.column.greyed.blocktext
								.card
									p.question UNDEFINED
							a.one-third.column.greyed.blocktext
								.card
									p.question PARAMETER
							a.one-third.column.greyed.blocktext
								.card
									p.question RETURN
						
